<html style="background-color: #88989E;">
    <head>
    	<title>Tile Burst</title>
    </head>

    <body>
        <!-- VENDOR -->
    	<script src="/public/custom/game/src/libs/jquery.js"></script>
    	<script src="/public/custom/game/src/libs/stats.js"></script>
		<script src="/public/custom/game/src/libs/pixi.js"></script>
        <script src="/public/custom/game/src/libs/keypress.js"></script>
        <script src="/public/vendor/jquery/jquery-1.11.0.min.js"></script>

        <!-- OBJECTS -->
        <script src="/public/custom/game/src/objects/input.js"></script>
        <script src="/public/custom/game/src/objects/screen.js"></script>
        <script src="/public/custom/game/src/objects/levelMap.js"></script>
        <script src="/public/custom/game/src/objects/tileType/tileType.js"></script>

        <!-- LIBS -->
        <script src="/public/custom/game/src/libs/graph.js"></script>
        <script src="/public/custom/game/src/libs/astar.js"></script>
		<script src="/public/custom/game/src/libs/config.js"></script>
		<script src="/public/custom/game/src/libs/global.js"></script>
		<script src="/public/custom/game/src/libs/init.js"></script>
        
        <!--
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/custom/game/src/libs/socketHandler.js"></script>
        -->

        <!-- MAIN -->
		<script src="/public/custom/game/src/main.js"></script>

        <div>
            <h3 id="goldCounter">Gold: 0</h3>
        </div>
    </body>
</html>
